.root {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh
}

.main {
    background-color: #487b94;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}


.signupForm {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bigText {
    margin: 0;
    color: #ffffff;
}

.signupForm label {
    pointer-events: none;
}

.signupForm a {
    cursor: pointer;
}

.signupForm .row {
    margin-bottom: 0;
}

.signupForm .btn {
    width: 100%;
    background: linear-gradient(80deg, #98bbd6 0%, #487b94 100%);
}

.signupForm form {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 4px 4px grey;
    border-radius: 6px;
    background-color: white;
    max-width: 350px;
}

.error-display {
    display: none;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff4cc;
    border: solid 2px #ffe070
}

#existingacc {
    position: relative;
    color: #696969;
    padding-right: 20px;
}